In [1]:
BASE_URL = "https://api.91m.top/hero/v1"

In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [3]:
## 数据更新
data1 = pd.read_csv('./data/matchList.csv')
data2 = pd.read_csv('./data/matchList_v2.csv')
data3 = pd.read_csv('./data/matchList_v3.csv')
data4 = pd.read_csv('./data/matchList_v4.csv')

In [4]:
data_final = pd.concat([data1,data2,data3,data4],axis=0).drop_duplicates().reset_index(drop=True)
data_final['id'] = data_final.index

In [5]:
data_final.to_csv('./data/matchList_total.csv',index=False)

In [6]:
# $rowAcntCamp == 1 ? $myCamp = "蓝方" : $myCamp = "红方";
# 1：蓝方 // 2：红方

data_final.groupby(['acntCamp']).count()

,id,areaType,gameSvrId,relaySvrId,gameSeq,userId,roleId,playerId,winCamp,usedtime,...,camp_1_Hero_2,camp_1_Hero_3,camp_1_Hero_4,camp_2_Hero_0,camp_2_Hero_1,camp_2_Hero_2,camp_2_Hero_3,camp_2_Hero_4,jsonData,addTime
acntCamp,,,,,,,,,,,,,,,,,,,,,
1,157214,157214,157214,157214,157214,157214,157214,157214,157214,157214,...,157207,157207,157207,157207,157207,157207,157207,157207,0,157214
2,174289,174289,174289,174289,174289,174289,174289,174289,174289,174289,...,174287,174287,174287,174287,174287,174287,174287,174287,0,174289

In [7]:
157214 / (157214+174289)

0.4742460852541304

In [8]:
hero_data = pd.read_csv('./data/heroCombination.csv')

hero_id = pd.read_csv('./data/heroList.csv')
type_lst = pd.DataFrame([{1:'边',2:'中',3:'射',4:'野',5:'辅'}]).T
hero_id['position'] = hero_id['type_1'].apply(lambda x: type_lst.loc[x])
# hero_lst = hero_id[['heroId','heroName']].set_index('heroId')
hero_lst = hero_id[['heroId','heroName','position']].set_index('heroId')

Win_rate_matrix_adj = pd.read_excel('./result/Win_rate_matrix_adj.xlsx',index_col=0)
Win_rate_ally_matrix_adj = pd.read_excel('./result/Win_rate_ally_matrix_adj.xlsx',index_col=0)

Win_rate_matrix = pd.read_excel('./result/Win_rate_matrix.xlsx',index_col=0)
Win_rate_ally_matrix = pd.read_excel('./result/Win_rate_ally_matrix.xlsx',index_col=0)

In [9]:
hero_data[['Hero_1','position_1']] = hero_data['heroId_1'].apply(lambda x: hero_lst.loc[x])
hero_data[['Hero_2','position_2']] = hero_data['heroId_2'].apply(lambda x: hero_lst.loc[x])

In [10]:
hero_oppodata = hero_data[['Hero_1','position_1','Hero_2','position_2','opponentPickTimes','opponentPickRate', 'opponentWinTimes', 'opponentWinRate']]
# Win_rate_matrix = hero_oppodata[['Hero_1','Hero_2','opponentWinRate']].pivot(index='Hero_1',columns='Hero_2',values='opponentWinRate').fillna(0).round(4)

In [11]:
hero_oppo_jun =  hero_oppodata[hero_oppodata['position_1'] == '野']

In [12]:
hero_oppo_jun_edg =  hero_oppo_jun[hero_oppodata['position_2'] == '边']
hero_oppo_jun_jun =  hero_oppo_jun[hero_oppodata['position_2'] == '野']
hero_oppo_jun_mid =  hero_oppo_jun[hero_oppodata['position_2'] == '中']
hero_oppo_jun_sho =  hero_oppo_jun[hero_oppodata['position_2'] == '射']
hero_oppo_jun_ass =  hero_oppo_jun[hero_oppodata['position_2'] == '辅']

In [13]:
Win_matrix_jun_edg = hero_oppo_jun_edg[['Hero_1','Hero_2','opponentWinRate']].pivot(index='Hero_1',columns='Hero_2',values='opponentWinRate').fillna(0).round(4)
Win_matrix_jun_jun = hero_oppo_jun_jun[['Hero_1','Hero_2','opponentWinRate']].pivot(index='Hero_1',columns='Hero_2',values='opponentWinRate').fillna(0).round(4)
Win_matrix_jun_mid = hero_oppo_jun_mid[['Hero_1','Hero_2','opponentWinRate']].pivot(index='Hero_1',columns='Hero_2',values='opponentWinRate').fillna(0).round(4)
Win_matrix_jun_sho = hero_oppo_jun_sho[['Hero_1','Hero_2','opponentWinRate']].pivot(index='Hero_1',columns='Hero_2',values='opponentWinRate').fillna(0).round(4)
Win_matrix_jun_ass = hero_oppo_jun_ass[['Hero_1','Hero_2','opponentWinRate']].pivot(index='Hero_1',columns='Hero_2',values='opponentWinRate').fillna(0).round(4)

In [14]:
(Win_matrix_jun_sho == 0).sum().sum()

353

In [15]:
Win_matrix_jun_sho.shape[0] * Win_matrix_jun_sho.shape[1]

448

In [16]:
# hero_oppodata.to_excel('./result/胜率统计test.xlsx')

In [17]:
Match_data = pd.read_csv('./data/matchList_total.csv')

In [18]:
Match_data.columns

Index(['id', 'areaType', 'gameSvrId', 'relaySvrId', 'gameSeq', 'userId',
       'roleId', 'playerId', 'acntCamp', 'winCamp', 'usedtime', 'camp_1_Ban_0',
       'camp_1_Ban_1', 'camp_1_Ban_2', 'camp_1_Ban_3', 'camp_1_Ban_4',
       'camp_2_Ban_0', 'camp_2_Ban_1', 'camp_2_Ban_2', 'camp_2_Ban_3',
       'camp_2_Ban_4', 'camp_1_Hero_0', 'camp_1_Hero_1', 'camp_1_Hero_2',
       'camp_1_Hero_3', 'camp_1_Hero_4', 'camp_2_Hero_0', 'camp_2_Hero_1',
       'camp_2_Hero_2', 'camp_2_Hero_3', 'camp_2_Hero_4', 'jsonData',
       'addTime'],
      dtype='object')

In [19]:
Match_data.shape

(331503, 33)

In [20]:
Match_list = Match_data[['winCamp','camp_1_Hero_0', 'camp_1_Hero_1', 'camp_1_Hero_2','camp_1_Hero_3', 'camp_1_Hero_4', 'camp_2_Hero_0', 'camp_2_Hero_1','camp_2_Hero_2', 'camp_2_Hero_3', 'camp_2_Hero_4']]

In [21]:
Match_list = Match_list.applymap(lambda x:str(x))
Match_list = Match_list.applymap(lambda x:x.split(".")[0])

In [22]:
Match_list[Match_list['winCamp'] == '1'][['camp_1_Hero_0', 'camp_1_Hero_1', 'camp_1_Hero_2','camp_1_Hero_3', 'camp_1_Hero_4']]

       camp_1_Hero_0 camp_1_Hero_1 camp_1_Hero_2 camp_1_Hero_3 camp_1_Hero_4
3                519           190           191           126           514
5                518           196           312           537           171
6                199           502           564           194           141
11               518           197           548           510           118
14               154           190           191           519           171
...              ...           ...           ...           ...           ...
331493           150           149           510           196           127
331494           154           118           136           130           177
331495           150           148           139           133           114
331500           191           139           533           196           521
331502           196           149           523           153           517

[162451 rows x 5 columns]

In [23]:
Win_list = Match_list[Match_list['winCamp'] == '1'][['camp_1_Hero_0', 'camp_1_Hero_1', 'camp_1_Hero_2','camp_1_Hero_3', 'camp_1_Hero_4','camp_2_Hero_0', 'camp_2_Hero_1','camp_2_Hero_2', 'camp_2_Hero_3', 'camp_2_Hero_4']]

Win_list = Win_list.rename(columns={'camp_1_Hero_0':'win_1',
                         'camp_1_Hero_1':'win_2',
                         'camp_1_Hero_2':'win_3',
                         'camp_1_Hero_3':'win_4',
                         'camp_1_Hero_4':'win_5',
                         'camp_2_Hero_0':'lose_1',
                         'camp_2_Hero_1':'lose_2',
                         'camp_2_Hero_2':'lose_3',
                         'camp_2_Hero_3':'lose_4',
                         'camp_2_Hero_4':'lose_5',
                         })

In [24]:
Win_list2 = Match_list[Match_list['winCamp'] == '2'][['camp_1_Hero_0', 'camp_1_Hero_1', 'camp_1_Hero_2','camp_1_Hero_3', 'camp_1_Hero_4','camp_2_Hero_0', 'camp_2_Hero_1','camp_2_Hero_2', 'camp_2_Hero_3', 'camp_2_Hero_4']]

Win_list2 = Win_list2.rename(columns={'camp_2_Hero_0':'win_1',
                         'camp_2_Hero_1':'win_2',
                         'camp_2_Hero_2':'win_3',
                         'camp_2_Hero_3':'win_4',
                         'camp_2_Hero_4':'win_5',
                         'camp_1_Hero_0':'lose_1',
                         'camp_1_Hero_1':'lose_2',
                         'camp_1_Hero_2':'lose_3',
                         'camp_1_Hero_3':'lose_4',
                         'camp_1_Hero_4':'lose_5',
                         })

In [25]:
Win_list_final = pd.concat([Win_list,Win_list2])

In [26]:
Win_list_final

       win_1 win_2 win_3 win_4 win_5 lose_1 lose_2 lose_3 lose_4 lose_5
3        519   190   191   126   514    129    577    139    152    111
5        518   196   312   537   171    159    153    111    197    130
6        199   502   564   194   141    577    518    527    152    169
11       518   197   548   510   118    159    519    533    139    521
14       154   190   191   519   171    518    127    149    514    548
...      ...   ...   ...   ...   ...    ...    ...    ...    ...    ...
331496   518   582   162   174   534    519    129    159    182    149
331497   518   577   513   149   155    502    521    126    111    505
331498   149   518   140   155   186    127    517    118    564    524
331499   199   152   149   518   113    157    179    548    137    120
331501   149   518   137   148   169    577    182    183    133    510

[331503 rows x 10 columns]

In [27]:
Win_list_final.dropna(how='any')

       win_1 win_2 win_3 win_4 win_5 lose_1 lose_2 lose_3 lose_4 lose_5
3        519   190   191   126   514    129    577    139    152    111
5        518   196   312   537   171    159    153    111    197    130
6        199   502   564   194   141    577    518    527    152    169
11       518   197   548   510   118    159    519    533    139    521
14       154   190   191   519   171    518    127    149    514    548
...      ...   ...   ...   ...   ...    ...    ...    ...    ...    ...
331496   518   582   162   174   534    519    129    159    182    149
331497   518   577   513   149   155    502    521    126    111    505
331498   149   518   140   155   186    127    517    118    564    524
331499   199   152   149   518   113    157    179    548    137    120
331501   149   518   137   148   169    577    182    183    133    510

[331503 rows x 10 columns]

In [28]:
def combination_win_rate(hero1,hero2):
    id1 = hero_lst[hero_lst['heroName'] == hero1].index[0]
    id2 = hero_lst[hero_lst['heroName'] == hero2].index[0]
    win_games = Win_list_final[(Win_list_final[['win_1','win_2','win_3','win_4','win_5']] == str(id1)).any(axis=1) & (Win_list_final[['win_1','win_2','win_3','win_4','win_5']] == str(id2)).any(axis=1)].shape[0]
    lose_games = Win_list_final[(Win_list_final[['lose_1','lose_2','lose_3','lose_4','lose_5']] == str(id1)).any(axis=1) & (Win_list_final[['lose_1','lose_2','lose_3','lose_4','lose_5']] == str(id2)).any(axis=1)].shape[0]
    return win_games / (win_games+lose_games), win_games+lose_games

In [29]:
# pos1_name = '边'
# pos2_name = '辅'

# pos1_lst = hero_lst[hero_lst['position'] == pos1_name]['heroName'].values
# pos2_lst = hero_lst[hero_lst['position'] == pos2_name]['heroName'].values


# pos1_pos2_win_matrix = pd.DataFrame()
# pos1_pos2_games_matrix = pd.DataFrame()

# for pos1 in pos1_lst:
#     for pos2 in pos2_lst:
#         rate, games = combination_win_rate(pos1,pos2)
#         pos1_pos2_win_matrix.loc[pos1,pos2] = rate
#         pos1_pos2_games_matrix.loc[pos1,pos2] = games

In [30]:
# sho_ass_matrix = pd.concat([sho_ass_win_matrix.unstack().to_frame(),
# sho_ass_games_matrix.unstack().to_frame()],axis=1)
# sho_ass_matrix.columns = ['胜率','胜场']

In [31]:
# sho_ass_matrix[(sho_ass_matrix['胜场'] >= 2500) & (sho_ass_matrix['胜率'] >= 0.52)].sort_values(by='胜率',ascending=False)

In [32]:
# sho_ass_win_matrix

In [33]:
combination_win_rate('马可波罗','瑶')

(0.46779126888497546, 10789)

In [34]:
combination_win_rate('朵莉亚','亚连')

(0.4847545947468488, 14201)

In [35]:
pos_lst = hero_lst['position']
pos_lst.index = [str(x) for x in pos_lst.index]

heroname_lst = hero_lst['heroName']
heroname_lst.index = [str(x) for x in heroname_lst.index]

In [36]:
def index2pos(id):
    try:
        return pos_lst[id]
    except:
        return '无'
    
def index2heroname(id):
    try:
        return heroname_lst[id]
    except:
        return '无'

In [37]:
Win_list_postion = Win_list_final.applymap(index2pos)
Win_list_heroname = Win_list_final.applymap(index2heroname)

In [38]:
Win_list_postion.groupby(by=['win_1','win_2','win_3']).count().sort_values(by='lose_4',ascending=False).head(50)

                   win_4  win_5  lose_1  lose_2  lose_3  lose_4  lose_5
win_1 win_2 win_3
射     野     中       8565   8565    8565    8565    8565    8565    8565
辅     野     中       8073   8073    8073    8073    8073    8073    8073
野     中     射       7852   7852    7852    7852    7852    7852    7852
            边       7740   7740    7740    7740    7740    7740    7740
      边     中       7680   7680    7680    7680    7680    7680    7680
      射     中       7585   7585    7585    7585    7585    7585    7585
      辅     中       7456   7456    7456    7456    7456    7456    7456
射     野     辅       7287   7287    7287    7287    7287    7287    7287
            边       7149   7149    7149    7149    7149    7149    7149
辅     野     射       7125   7125    7125    7125    7125    7125    7125
野     辅     射       6811   6811    6811    6811    6811    6811    6811
辅     野     边       6709   6709    6709    6709    6709    6709    6709
射     中     野       6648   6648    6648    6648    6648    6648    6648
野     中     辅       6551   6551    6551    6551    6551    6551    6551
射     辅     野       6380   6380    6380    6380    6380    6380    6380
辅     中     野       6356   6356    6356    6356    6356    6356    6356
野     边     射       6216   6216    6216    6216    6216    6216    6216
中     野     边       6208   6208    6208    6208    6208    6208    6208
野     辅     边       6183   6183    6183    6183    6183    6183    6183
中     野     射       6162   6162    6162    6162    6162    6162    6162
辅     射     野       6147   6147    6147    6147    6147    6147    6147
野     射     边       6103   6103    6103    6103    6103    6103    6103
            辅       6072   6072    6072    6072    6072    6072    6072
      边     辅       5576   5576    5576    5576    5576    5576    5576
中     野     辅       5421   5421    5421    5421    5421    5421    5421
辅     边     野       5375   5375    5375    5375    5375    5375    5375
射     边     野       5107   5107    5107    5107    5107    5107    5107
中     射     野       4933   4933    4933    4933    4933    4933    4933
辅     射     中       4891   4891    4891    4891    4891    4891    4891
射     辅     中       4870   4870    4870    4870    4870    4870    4870
辅     边     中       4709   4709    4709    4709    4709    4709    4709
      中     边       4678   4678    4678    4678    4678    4678    4678
中     辅     野       4582   4582    4582    4582    4582    4582    4582
射     中     边       4560   4560    4560    4560    4560    4560    4560
边     野     中       4551   4551    4551    4551    4551    4551    4551
射     辅     边       4547   4547    4547    4547    4547    4547    4547
辅     中     射       4510   4510    4510    4510    4510    4510    4510
中     边     野       4422   4422    4422    4422    4422    4422    4422
射     边     中       4408   4408    4408    4408    4408    4408    4408
      中     辅       4268   4268    4268    4268    4268    4268    4268
辅     射     边       4179   4179    4179    4179    4179    4179    4179
      边     射       4079   4079    4079    4079    4079    4079    4079
射     边     辅       3680   3680    3680    3680    3680    3680    3680
边     野     射       3623   3623    3623    3623    3623    3623    3623
      中     野       3621   3621    3621    3621    3621    3621    3621
中     射     边       3334   3334    3334    3334    3334    3334    3334
      边     射       3333   3333    3333    3333    3333    3333    3333
      辅     射       3241   3241    3241    3241    3241    3241    3241
            边       3235   3235    3235    3235    3235    3235    3235
      射     辅       3091   3091    3091    3091    3091    3091    3091

In [39]:
Win_list_heroname.groupby(by=['win_1','win_2','win_3']).count().sort_values(by='lose_4',ascending=False).head(50)

                   win_4  win_5  lose_1  lose_2  lose_3  lose_4  lose_5
win_1 win_2 win_3
朵莉亚   亚连    甄姬       112    112     112     112     112     112     112
      甄姬    亚连        88     88      88      88      88      88      88
马超    孙膑    甄姬        84     84      84      84      84      84      84
朵莉亚   亚连    孙尚香       81     81      81      81      81      81      81
不知火舞  马超    孙膑        80     80      80      80      80      80      80
马超    甄姬    孙膑        78     78      78      78      78      78      78
敖隐    马超    孙膑        73     73      73      73      73      73      73
马超    甄姬    亚连        69     69      69      69      69      69      69
朵莉亚   亚连    宫本武藏      68     68      68      68      68      68      68
马超    百里守约  甄姬        67     67      67      67      67      67      67
朵莉亚   亚连    杨玉环       66     66      66      66      66      66      66
敖隐    马超    甄姬        65     65      65      65      65      65      65
朵莉亚   亚连    百里守约      65     65      65      65      65      65      65
      马超    亚连        65     65      65      65      65      65      65
敖隐    朵莉亚   亚连        64     64      64      64      64      64      64
马超    甄姬    孙尚香       64     64      64      64      64      64      64
      孙膑    亚连        64     64      64      64      64      64      64
公孙离   马超    瑶         63     63      63      63      63      63      63
马超    亚连    孙膑        63     63      63      63      63      63      63
敖隐    大司命   甄姬        62     62      62      62      62      62      62
马超    甄姬    百里守约      61     61      61      61      61      61      61
朵莉亚   亚连    嫦娥        61     61      61      61      61      61      61
敖隐    马超    张飞        61     61      61      61      61      61      61
马超    孙膑    百里守约      60     60      60      60      60      60      60
朵莉亚   敖隐    亚连        60     60      60      60      60      60      60
敖隐    甄姬    张飞        59     59      59      59      59      59      59
马超    孙膑    戈娅        59     59      59      59      59      59      59
朵莉亚   亚连    狄仁杰       59     59      59      59      59      59      59
公孙离   甄姬    张飞        59     59      59      59      59      59      59
马超    甄姬    老夫子       58     58      58      58      58      58      58
      孙膑    老夫子       58     58      58      58      58      58      58
      百里守约  孙膑        57     57      57      57      57      57      57
      甄姬    张飞        57     57      57      57      57      57      57
敖隐    甄姬    老夫子       56     56      56      56      56      56      56
            大司命       55     55      55      55      55      55      55
马超    杨玉环   孙膑        55     55      55      55      55      55      55
      孙膑    狄仁杰       54     54      54      54      54      54      54
敖隐    马超    亚连        54     54      54      54      54      54      54
马超    孙膑    杨玉环       53     53      53      53      53      53      53
不知火舞  朵莉亚   亚连        53     53      53      53      53      53      53
敖隐    大司命   孙膑        53     53      53      53      53      53      53
马超    孙尚香   甄姬        53     53      53      53      53      53      53
朵莉亚   亚连    西施        53     53      53      53      53      53      53
马超    孙膑    白起        52     52      52      52      52      52      52
            孙尚香       52     52      52      52      52      52      52
      孙尚香   孙膑        51     51      51      51      51      51      51
朵莉亚   亚连    裴擒虎       51     51      51      51      51      51      51
      裴擒虎   亚连        51     51      51      51      51      51      51
马超    朵莉亚   亚连        51     51      51      51      51      51      51
敖隐    甄姬    裴擒虎       50     50      50      50      50      50      50

In [40]:
Win_lst_all = pd.DataFrame()
for win in ['win_1','win_2','win_3','win_4','win_5']:
    for lose in ['lose_1','lose_2','lose_3','lose_4','lose_5']:
        Win_lst = Win_list_final[[win,lose]]
        Win_lst.columns = ['win', 'lose']
        Win_lst_all = pd.concat([Win_lst_all, Win_lst])

In [41]:
Win_lst_all_ally = pd.DataFrame()
for win1 in range(5-1):
    for win2 in range(win1+1,5):
        Win_lst = Win_list_final[[['win_1','win_2','win_3','win_4','win_5'][win1],['win_1','win_2','win_3','win_4','win_5'][win2]]]
        Win_lst.columns = ['ally1', 'ally2']
        Win_lst_all_ally = pd.concat([Win_lst_all_ally, Win_lst])

Lose_lst_all_ally = pd.DataFrame()
for lose1 in range(5-1):
    for lose2 in range(lose1+1,5):
        Lose_lst = Win_list_final[[['lose_1','lose_2','lose_3','lose_4','lose_5'][lose1],['lose_1','lose_2','lose_3','lose_4','lose_5'][lose2]]]
        Lose_lst.columns = ['ally1', 'ally2']
        Lose_lst_all_ally = pd.concat([Lose_lst_all_ally, Lose_lst])

In [42]:
Win_lst_all['games'] = 1

In [43]:
Win_lst_all_ally['games'] = 1
Lose_lst_all_ally['games'] = 1

In [44]:
Win_lst_ally = Win_lst_all_ally.groupby(['ally1', 'ally2']).count().reset_index().iloc[:-1]
Lose_lst_ally = Lose_lst_all_ally.groupby(['ally1', 'ally2']).count().reset_index().iloc[:-1]

In [45]:
Win_ally_matrix = Win_lst_ally.pivot(index='ally1',columns='ally2',values='games').fillna(0)
Lose_ally_matrix = Lose_lst_ally.pivot(index='ally1',columns='ally2',values='games').fillna(0)

In [46]:
Win_ally_matrix =  Win_ally_matrix + Win_ally_matrix.T
Lose_ally_matrix = Lose_ally_matrix + Lose_ally_matrix.T

In [47]:
Win_lst_final = Win_lst_all.groupby(['win','lose']).count().reset_index().iloc[:-1]

In [48]:
Win_lst_final

       win lose  games
0      105  106    631
1      105  107     69
2      105  108    821
3      105  109    102
4      105  110    130
...    ...  ...    ...
14757  582  548   1371
14758  582  563    415
14759  582  564    587
14760  582  577   1163
14761  582  581    829

[14762 rows x 3 columns]

In [49]:
Win_games_matrix = Win_lst_final.pivot(index='win',columns='lose',values='games').fillna(0)

In [50]:
hero_name_lst = hero_lst.reset_index().sort_values(by='heroId')['heroName'].values

In [51]:
Win_rate_matrix = Win_games_matrix.div(Win_games_matrix + Win_games_matrix.T)
Win_rate_matrix = Win_rate_matrix.fillna(0).round(4)

In [52]:
Win_rate_ally_matrix = Win_ally_matrix.div(Win_ally_matrix + Lose_ally_matrix)
Win_rate_ally_matrix = Win_rate_ally_matrix.fillna(0).round(4)

In [53]:
Win_games_matrix.index = hero_name_lst 
Win_games_matrix.columns = hero_name_lst 

Win_rate_matrix.index = hero_name_lst 
Win_rate_matrix.columns = hero_name_lst 

Win_ally_matrix.index = hero_name_lst 
Win_ally_matrix.columns = hero_name_lst 

Lose_ally_matrix.index = hero_name_lst 
Lose_ally_matrix.columns = hero_name_lst

Win_rate_ally_matrix.index = hero_name_lst 
Win_rate_ally_matrix.columns = hero_name_lst

In [54]:
## 胜率根据胜场进行调整
# adj_rate_oppo = np.sqrt(np.sqrt((Win_games_matrix + Win_games_matrix.T)/(Win_games_matrix + Win_games_matrix.T).max().max()))
# adj_rate_ally = np.sqrt(np.sqrt((Win_ally_matrix + Lose_ally_matrix)/(Win_ally_matrix + Lose_ally_matrix).max().max()))

adj_rate_oppo = (Win_games_matrix + Win_games_matrix.T)/(Win_games_matrix + Win_games_matrix.T).max().max()
adj_rate_ally = (Win_ally_matrix + Lose_ally_matrix)/(Win_ally_matrix + Lose_ally_matrix).max().max()

In [55]:
Win_rate_matrix_adj = 0.5 + (Win_rate_matrix - 0.5) * adj_rate_oppo
Win_rate_ally_matrix_adj = 0.5 + (Win_rate_ally_matrix - 0.5) * adj_rate_ally

In [56]:
pos_lst = hero_lst[hero_lst['position'] == '野']['heroName'].values

## 根据胜场惩罚得到的最新推荐系统
edg_lst = hero_lst[hero_lst['position'] == '边']['heroName'].values
jun_lst = hero_lst[hero_lst['position'] == '野']['heroName'].values
mid_lst = hero_lst[hero_lst['position'] == '中']['heroName'].values
sho_lst = hero_lst[hero_lst['position'] == '射']['heroName'].values
ass_lst = hero_lst[hero_lst['position'] == '辅']['heroName'].values

In [57]:
# https://api.91m.top/hero/app?type=getHeroReplayByHeroId&id=531&userId=&roleId=&gameOpenId=&page=1&host=91m.top&lang=zh-CN&ref=&url=https%3A%2F%2F91m.top%2Fhero%2F531%2Freplay%3Ftitle%3D%25E9%2595%259C%26teammate%3D0&url_real=https%3A%2F%2F91m.top%2Fhero%2F531%2Freplay%3Ftitle%3D%25E9%2595%259C%26teammate%3D0&openId=1c603c87200cd0b71b12a9936d28b16c&accessToken=da310cec06960e4738d0a02f49d9a0d9

# openId: 1c603c87200cd0b71b12a9936d28b16c
# accessToken: da310cec06960e4738d0a02f49d9a0d9

In [90]:
def hero_commendation(allys=['公孙离','少司缘'], enemys=['马可波罗','瑶'], pos='野', adj=None):
    if pos:
        try:
            # pos_lst = hero_lst[hero_lst['position'] == pos]['heroName'].values
            pos_lst = ['镜','韩信','裴擒虎','云中君','诸葛亮','司马懿','宫本武藏','暃','马超','典韦','猪八戒','雅典娜','坦元','夏侯惇','百里玄策']
            if adj:
                Win_matrix = Win_rate_matrix_adj.loc[pos_lst]
                Win_matrix_ally = Win_rate_ally_matrix_adj.loc[pos_lst]
            else:
                Win_matrix = Win_rate_matrix.loc[pos_lst]
                Win_matrix_ally = Win_rate_ally_matrix.loc[pos_lst]
            res = pd.concat([Win_matrix_ally[allys],Win_matrix[enemys]],axis=1).mean(axis=1).loc[pos_lst].sort_values(ascending=False).head(3)
            res = res.to_frame('win_rate').reset_index()
        except:
            pass
    else:
        if adj:
            Win_matrix = Win_rate_matrix_adj
            Win_matrix_ally = Win_rate_ally_matrix_adj
        else:
            Win_matrix = Win_rate_matrix
            Win_matrix_ally = Win_rate_ally_matrix

        edg_res = pd.concat([Win_matrix_ally[allys],Win_matrix[enemys]],axis=1).mean(axis=1).loc[edg_lst].sort_values(ascending=False).head(3)
        jun_res = pd.concat([Win_matrix_ally[allys],Win_matrix[enemys]],axis=1).mean(axis=1).loc[jun_lst].sort_values(ascending=False).head(3)
        mid_res = pd.concat([Win_matrix_ally[allys],Win_matrix[enemys]],axis=1).mean(axis=1).loc[mid_lst].sort_values(ascending=False).head(3)
        sho_res = pd.concat([Win_matrix_ally[allys],Win_matrix[enemys]],axis=1).mean(axis=1).loc[sho_lst].sort_values(ascending=False).head(3)
        ass_res = pd.concat([Win_matrix_ally[allys],Win_matrix[enemys]],axis=1).mean(axis=1).loc[ass_lst].sort_values(ascending=False).head(3)

        edg_res = edg_res.to_frame('win_rate').reset_index()
        edg_res.insert(0,'position','边')
        jun_res = jun_res.to_frame('win_rate').reset_index()
        jun_res.insert(0,'position','野')
        mid_res = mid_res.to_frame('win_rate').reset_index()
        mid_res.insert(0,'position','中')
        sho_res = sho_res.to_frame('win_rate').reset_index()
        sho_res.insert(0,'position','射')
        ass_res = ass_res.to_frame('win_rate').reset_index()
        ass_res.insert(0,'position','辅')

        res = pd.concat([edg_res,jun_res,mid_res,sho_res,ass_res],axis=0).set_index(['position','index'])
    return res

In [91]:
hero_pos_lst = hero_lst.set_index('heroName')

hero_pos_lst.loc[hero_name_lst[0]]

position    辅
Name: 廉颇, dtype: object

In [92]:
recommend_ally = pd.DataFrame()
recommend_counter = pd.DataFrame()

for name in hero_name_lst:
    pos = hero_pos_lst.loc[name].values[0]

    recommend_ally_res = pd.DataFrame({
        '英雄名':name,\
        '分路':pos,\
        '边':Win_rate_ally_matrix_adj.loc[name].loc[edg_lst].sort_values(ascending=False).head(3).index,\
        '野':Win_rate_ally_matrix_adj.loc[name].loc[jun_lst].sort_values(ascending=False).head(3).index,\
        '中':Win_rate_ally_matrix_adj.loc[name].loc[mid_lst].sort_values(ascending=False).head(3).index,\
        '射':Win_rate_ally_matrix_adj.loc[name].loc[sho_lst].sort_values(ascending=False).head(3).index,\
        '辅':Win_rate_ally_matrix_adj.loc[name].loc[ass_lst].sort_values(ascending=False).head(3).index
        })

    recommend_ally_res[pos] = '-'

    recommend_counter_res = pd.DataFrame({
        '英雄名':name,\
        '分路':pos,\
        '边':Win_rate_matrix_adj.loc[name].loc[edg_lst].sort_values(ascending=True).head(3).index,\
        '野':Win_rate_matrix_adj.loc[name].loc[jun_lst].sort_values(ascending=True).head(3).index,\
        '中':Win_rate_matrix_adj.loc[name].loc[mid_lst].sort_values(ascending=True).head(3).index,\
        '射':Win_rate_matrix_adj.loc[name].loc[sho_lst].sort_values(ascending=True).head(3).index,\
        '辅':Win_rate_matrix_adj.loc[name].loc[ass_lst].sort_values(ascending=True).head(3).index
        })
    
    recommend_ally = pd.concat([recommend_ally, recommend_ally_res]).dropna(how='any')
    recommend_counter = pd.concat([recommend_counter, recommend_counter_res]).dropna(how='any')

recommend_ally = recommend_ally.sort_values(by='分路',ascending=False).set_index(['分路','英雄名'])
recommend_counter = recommend_counter.sort_values(by='分路',ascending=False).set_index(['分路','英雄名'])

In [93]:
recommend_ally.sort_index(ascending=False).to_excel('recommend_ally.xlsx')
recommend_counter.sort_index(ascending=False).to_excel('recommend_counter.xlsx')

### **计算结果分析组**

In [94]:
Win_rate_ally_matrix_adj.loc['嫦娥'].loc[edg_lst].sort_values(ascending=False).head(7)

# 和镜组队胜率高的英雄：
# 老夫子、程咬金、孙策、蒙恬、刘邦
# 甄姬、海月、西施、不知火舞、武则天
# 戈娅、蒙犽、公孙离、百里守约、敖隐
# 张飞、墨子、少司缘、大乔、庄周

# 和嫦娥组队胜率高的英雄：
# 老夫子、亚连、孙策、蒙恬、花木兰
# 甄姬、西施、不知火舞、杨玉环、王昭君
# 戈娅、蒙犽、孙尚香、百里守约、敖隐
# 张飞、墨子、少司缘、孙膑、苏烈

老夫子    0.517473
亚连     0.509645
花木兰    0.508416
孙策     0.507222
元歌     0.504777
蒙恬     0.504207
关羽     0.503897
Name: 嫦娥, dtype: float64

In [95]:
# Win_rate_matrix[['鲁班七号']].loc[pos_lst].mean(1).sort_values(ascending=False)

In [96]:
# jun_sho_matrix = Win_rate_matrix.loc[hero_lst[hero_lst['position'] == '野']['heroName'].values][hero_lst[hero_lst['position'] == '射']['heroName'].values]

# jun_sho_matrix.to_excel('jun_sho_winrate.xlsx')

In [97]:
hero_commendation([],['吕布','司马懿','王昭君','戈娅','廉颇'],pos=None)

                win_rate
position index
边        程咬金     0.53828
         夏洛特     0.53608
         蒙恬      0.53232
野        雅典娜     0.56686
         百里玄策    0.54464
         钟无艳     0.53996
中        貂蝉      0.55640
         武则天     0.53456
         甄姬      0.53412
射        成吉思汗    0.55650
         公孙离     0.53836
         蒙犽      0.52378
辅        庄周      0.54310
         鲁班大师    0.53896
         少司缘     0.53422

In [76]:
hero_commendation(['公孙离','孙膑'],['虞姬','张飞'],adj=True)

  index  win_rate
0    马超  0.519528
1   雅典娜  0.506345
2     镜  0.504830
3   云中君  0.503165
4    韩信  0.503090

In [77]:
hero_commendation(['公孙离','马超'],['马可波罗','瑶','夏侯惇','貂蝉','白起'],'野')

  index  win_rate
0   雅典娜  0.558371
1   云中君  0.550986
2  百里玄策  0.546614
3   司马懿  0.527886
4     镜  0.519386

In [78]:
hero_lst.query("heroName == '马可波罗'")['position'].values[0]

'射'

In [79]:
def hero_commendation_score(allys=['关羽','王昭君','张良'], enemys=['马可波罗','瑶'], pos='野', adj=None):
    
    enemy_weight = {
        '边': 0.2,
        '野': 0.25,
        '中': 0.2,
        '射': 0.25,
        '辅': 0.1
    }
    # pos_lst = hero_lst[hero_lst['position'] == pos]['heroName'].values
    # pos_lst = ['镜','韩信','裴擒虎','云中君','诸葛亮','司马懿','宫本武藏','暃','马超','典韦','猪八戒','雅典娜','坦元','夏侯惇','百里玄策']
    pos_lst = ['镜','杨戬','裴擒虎','诸葛亮','司马懿','宫本武藏','暃','韩信','铠','澜','曜','大司命']
    if adj:
        Win_matrix = Win_rate_matrix_adj.loc[pos_lst]
        Win_matrix_ally = Win_rate_ally_matrix_adj.loc[pos_lst]
    else:
        Win_matrix = Win_rate_matrix.loc[pos_lst]
        Win_matrix_ally = Win_rate_ally_matrix.loc[pos_lst]
    
    # RankIC 调整：
    Win_matrix_ally_rank = Win_matrix_ally.rank(ascending=True,axis=0)
    Win_matrix_rank = Win_matrix.rank(ascending=True,axis=0)

    res_enemy = pd.DataFrame()
    for enemy in enemys:
        print(enemy)
        enemy_pos = hero_lst.query(f"heroName == '{enemy}'")['position'].values[0]
        weight = enemy_weight[enemy_pos]
        res_enemy = pd.concat([res_enemy, Win_matrix_rank[enemy]*weight],axis=1)

    res_ally = Win_matrix_ally_rank[allys]*0.1
    res_enemy = res_enemy

    res = pd.concat([res_ally,res_enemy],axis=1)
    res['Final_Score'] = res.sum(1)
    
    res = res.sort_values(by = 'Final_Score',ascending=False).head(5)
    return res

In [80]:
# pos_lst = ['镜','韩信','裴擒虎','云中君','诸葛亮','司马懿','宫本武藏','暃','马超','典韦','猪八戒','雅典娜','坦元','夏侯惇','百里玄策']
pos_lst = ['镜','杨戬','裴擒虎','诸葛亮','司马懿','宫本武藏','暃','韩信','铠','澜','曜','大司命']

In [85]:
hero_commendation_score(allys=['狄仁杰'], enemys=['庄周'],pos='中')

庄周

     狄仁杰   庄周  Final_Score
司马懿  1.2  1.1          2.3
镜    1.1  0.9          2.0
诸葛亮  0.9  1.0          1.9
裴擒虎  0.7  0.8          1.5
杨戬   0.1  1.2          1.3

In [82]:
Win_rate_matrix_adj.to_excel('./result/Win_rate_matrix_adj.xlsx')
Win_rate_ally_matrix_adj.to_excel('./result/Win_rate_ally_matrix_adj.xlsx')

Win_rate_matrix.to_excel('./result/Win_rate_matrix.xlsx')
Win_rate_ally_matrix.to_excel('./result/Win_rate_ally_matrix.xlsx')

In [83]:
!dir

 ������ C �еľ��� ϵͳ
 �������к��� 8636-4DEF

 c:\Files\Ubiquant\code\hok_bp ��Ŀ¼

2025/10/27  13:01    <DIR>          .
2025/10/27  13:01    <DIR>          ..
2024/09/23  15:39    <DIR>          data
2025/09/12  15:28           154,943 data_parse.ipynb
2025/09/05  14:08            37,587 hero_recommendation.ipynb
2025/09/12  15:28           154,690 hok.ipynb
2025/01/20  14:46            12,730 hol_bp_clean.ipynb
2024/10/09  17:47            13,386 jun_sho_winrate.xlsx
2025/03/27  16:51    <DIR>          practicing
2024/10/18  22:06             8,568 README.md
2024/10/15  10:55           339,697 README.pdf
2025/10/27  13:23            27,236 recommend_ally.xlsx
2025/10/27  13:23            27,381 recommend_counter.xlsx
2024/12/30  14:33    <DIR>          result
2025/08/22  11:18             7,232 S40��ҰӢ�۾���.html
2025/09/05  19:31             5,472 S40��ҰӢ�۾�����.md
2025/08/22  11:18             1,993 S40��ҰӢ�۾�����.mm.md
2025/08/21  16:13           227,638 S40��ҰӢ�۾�����.pdf
2024/09/23  15:39    <DIR>          win_rate_role1_role2
2025/01/29  20:59           558,381 �Ϸ��ؼ�-�´���.pdf
2025/04/08  16:38             4,735 �Ϸ��ؼ��ܽ�.txt
2025/08/22  10:54            15,517 ��Ұȫ�ڽ���˼·.html
2025/08/25  20:18             5,982 ��Ұ����˼ά��ͼ.mm.md
2024/10/09  20:11            53,608 �Ƽ����&�Ƽ�counterӢ�۱�.xlsx
2025/08/22  10:58            14,323 ���߹ؼ������&��˼·.md
2024/10/16  10:36           415,591 ���߹ؼ������&��˼·.pdf
2025/10/27  13:01             6,618 ��ͳ��.xlsx
              21 ���ļ�      2,093,308 �ֽ�
               6 ��Ŀ¼ 683,804,758,016 �����ֽ�

In [91]:
Win_games_matrix.to_excel('./result/Win_games_matrix.xlsx')
Win_rate_matrix.to_excel('./result/Win_rate_matrix.xlsx')

In [92]:
# Win_games_matrix = pd.read_excel('./result/Win_games_matrix.xlsx',index_col=0)
# Win_rate_matrix = pd.read_excel('./result/Win_rate_matrix.xlsx',index_col=0))

In [93]:
Win_rate_stack = Win_rate_matrix.stack().reset_index()
Win_rate_stack.columns = ['英雄名称','对位英雄','胜率']

Win_games_stack = Win_games_matrix.stack().reset_index()
Win_games_stack.columns = ['英雄名称','对位英雄','胜场']

In [94]:
Win_rate_stack = Win_rate_stack.merge(Win_games_stack)

In [95]:
Win_rate_stack.to_excel('./result/Win_games_list.xlsx')

In [96]:
Win_rate_stack

      英雄名称 对位英雄      胜率      胜场
0       廉颇   廉颇  0.0000     0.0
1       廉颇   小乔  0.4828   631.0
2       廉颇   赵云  0.5897    69.0
3       廉颇   墨子  0.5087   821.0
4       廉颇   妲己  0.4744   102.0
...    ...  ...     ...     ...
14879   法元   海诺  0.5307   415.0
14880   法元  姬小满  0.4831   587.0
14881   法元  少司缘  0.4454  1163.0
14882   法元   坦元  0.4994   829.0
14883   法元   法元  0.0000     0.0

[14884 rows x 4 columns]

In [97]:
hero_commendation(['鲁班七号'],['安琪拉','大乔','澜','亚连'],'野')

  index  win_rate
0   雅典娜   0.58188
1  百里玄策   0.57126
2    马超   0.55312
3   云中君   0.55310
4     镜   0.54208

In [98]:
hero_commendation(['鲁班七号'],['安琪拉','大乔','澜','亚连'],'野')

  index  win_rate
0   雅典娜   0.58188
1  百里玄策   0.57126
2    马超   0.55312
3   云中君   0.55310
4     镜   0.54208

In [99]:
Win_games_matrix

,廉颇,小乔,赵云,墨子,妲己,嬴政,孙尚香,鲁班七号,庄周,刘禅,...,金蝉,暃,赵怀真,莱西奥,戈娅,海诺,姬小满,少司缘,坦元,法元
廉颇,0.0,631.0,69.0,821.0,102.0,130.0,1928.0,378.0,337.0,281.0,...,88.0,339.0,127.0,192.0,988.0,233.0,436.0,685.0,482.0,794.0
小乔,676.0,0.0,69.0,936.0,162.0,142.0,2346.0,389.0,261.0,290.0,...,84.0,468.0,148.0,256.0,1259.0,336.0,576.0,1020.0,583.0,1102.0
赵云,48.0,68.0,0.0,81.0,15.0,9.0,196.0,47.0,26.0,24.0,...,10.0,35.0,12.0,33.0,101.0,39.0,44.0,80.0,50.0,86.0
墨子,793.0,1039.0,110.0,0.0,191.0,183.0,2852.0,598.0,591.0,388.0,...,138.0,584.0,136.0,287.0,1411.0,389.0,645.0,1302.0,827.0,1230.0
妲己,113.0,153.0,12.0,146.0,0.0,14.0,341.0,69.0,50.0,70.0,...,16.0,77.0,22.0,36.0,213.0,58.0,91.0,141.0,76.0,119.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
海诺,248.0,302.0,35.0,374.0,50.0,60.0,867.0,207.0,131.0,118.0,...,23.0,157.0,60.0,85.0,479.0,0.0,178.0,318.0,228.0,367.0
姬小满,484.0,548.0,38.0,652.0,96.0,115.0,1729.0,308.0,255.0,210.0,...,58.0,340.0,94.0,163.0,903.0,216.0,0.0,682.0,427.0,628.0
少司缘,906.0,1166.0,117.0,1324.0,208.0,223.0,3418.0,759.0,388.0,394.0,...,145.0,640.0,212.0,367.0,1790.0,501.0,762.0,0.0,915.0,1448.0
坦元,537.0,670.0,61.0,686.0,95.0,114.0,1909.0,395.0,317.0,263.0,...,66.0,370.0,125.0,183.0,933.0,216.0,382.0,778.0,0.0,831.0
法元,753.0,929.0,96.0,1051.0,153.0,166.0,2704.0,519.0,296.0,304.0,...,112.0,490.0,178.0,265.0,1371.0,415.0,587.0,1163.0,829.0,0.0

In [100]:
Win_rate_matrix.loc['坦元'].sort_values(ascending=False).head(10)

澜      0.6114
李元芳    0.5664
妲己     0.5556
刘禅     0.5549
亚瑟     0.5548
赵云     0.5495
程咬金    0.5459
杨戬     0.5412
后羿     0.5402
项羽     0.5400
Name: 坦元, dtype: float64

In [101]:
Win_rate_sort = Win_rate_stack.sort_values(by = '胜率',ascending=False)

In [102]:
Win_rate_sort[(Win_rate_sort['胜场'] >= 1000) & (Win_rate_sort['胜率'] >= 0.52)].groupby('英雄名称').count().sort_values(by='胜场',ascending=False).head(10)

      对位英雄  胜率  胜场
英雄名称
马超      44  44  44
甄姬      44  44  44
戈娅      41  41  41
老夫子     36  36  36
少司缘     31  31  31
西施      30  30  30
孙膑      28  28  28
蒙犽      26  26  26
嫦娥      24  24  24
镜       24  24  24

In [103]:
pos_lst = hero_lst[hero_lst['position'] == '中']['heroName'].values

res_df = pd.concat([Win_rate_matrix.loc[pos_lst].mean(axis=1), Win_games_matrix.loc[pos_lst].sum(axis=1)], axis = 1)
res_df = res_df.rename(columns={0:'胜率',1:'胜场'})
res_df = res_df.sort_values(by='胜率', ascending=False)
res_df.to_excel('./win_rate_role1_role2/win_rate_stat_edg.xlsx')

In [104]:
pos_lst = hero_lst[hero_lst['position'] == '射']['heroName'].values
Win_rate_matrix.loc[pos_lst].mean(axis=1).sort_values(ascending=False).to_frame()

             0
戈娅    0.536477
公孙离   0.526443
蒙犽    0.522357
鲁班七号  0.508818
伽罗    0.502290
敖隐    0.498820
百里守约  0.497029
成吉思汗  0.496647
孙尚香   0.495016
后羿    0.493390
黄忠    0.491412
狄仁杰   0.491103
莱西奥   0.489243
艾琳    0.480398
虞姬    0.479701
李元芳   0.478642
马可波罗  0.471308

In [105]:
# def counter_query()

Win_rate_sort.query("(英雄名称=='刘备')&(对位英雄=='孙悟空')")

     英雄名称 对位英雄      胜率    胜场
6639   刘备  孙悟空  0.6279  27.0

In [106]:
[
len(hero_lst[hero_lst['position'] == '边']['heroName'].values),
len(hero_lst[hero_lst['position'] == '野']['heroName'].values),
len(hero_lst[hero_lst['position'] == '中']['heroName'].values),
len(hero_lst[hero_lst['position'] == '射']['heroName'].values),
len(hero_lst[hero_lst['position'] == '辅']['heroName'].values)
]

[23, 34, 25, 17, 23]

In [107]:
23*22*34*33*25*24*17*16*23*22 / 2

23441427187200.0

In [89]:
# counter_data = pd.read_excel('./result/英雄对抗优劣势表.xlsx')